{% extends 'base.html'%}
{% block title %} Add Receipes {%endblock%}


{%block content%}
<div class="container">
    <h1> Add Receipes </h1>
    <hr>

    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="mb-3">
            <input type="text" class="form-control" name="receipe_name" placeholder="Receipe name" value="{{receipe.receipe_name}}">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="receipe_description" placeholder="Receipe Description">{{receipe.receipe_description}}</textarea>
        </div>

        <div class="mb-3">
            <input type="file" class="form-control" name="image" placeholder="upload image">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" name="category" placeholder="category" value="{{receipe.category}}">
        </div>
        
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    {%endblock%}